.body {
  background-color: #261d3b;
  height: 8643px;
  margin: 50px;
  background-image: linear-gradient(270deg,rgba(38, 29, 59, 0), #261d3b) url('../images/background.jpg');
  background-position: 0px 0px 0px -71px;
  background-size: auto, cover;
  background-repeat: no-repeat;
}

/*check if margin property was written correct TRBL*/
.image {
  max-width: 175px;
  margin: 50px 25px 0px 50px;
  display: inline;
}

.social-container {
  position: static;
  margin-top: 20px;
  margin-bottom: 20px;
  clear: none;
}

/* Arrow @author Jonathan Suh @site https://jonsuh.com/hamburgers*/
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }
